body {
    display: flex;
    height: 100vh;
}

.container-size {
    height: 60vh;
    display: flex;
    align-items: center;
    text-align: center;
    width: 60%;
    margin: auto;
    position: relative;
}

#container {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}

#container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

#container img.active {
    display: block;   
}

.arrow {
    position: absolute;
    filter: invert(1);
    height: 40px;
    width: 28px;
    cursor: pointer;
    z-index: 1; /* Assicurati che le frecce siano posizionate sopra l'immagine */
    left: 50%;
    transform: translateX(-50%);
}
.fa-arrow-up{
    background-image: url(img/arrow-up-long-solid.svg);
    background-size: cover;
}
.fa-arrow-down-long{
    background-image: url(img/arrow-down-long-solid.svg);
    background-size: cover;
}
.top {
    top: 10px;
}

.bottom {
    bottom: 10px;
}



